{% extends 'blog/base.html' %}

{% block content %}
<!-- Comments Form --> 
<h2>Add a new comment</h2>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add comment</button>
</form>

<!-- Comment with nested comments -->
{% for comment in comments %}
    <div class="comment" style="background-color: powderblue">
        <p class="info">{{ comment.name }} | {{ comment.created }}</p>
            {{ comment.text|linebreaks }}

            	<h5>Replay</h5>
					<form method="POST" class="post-form">{% csrf_token %}
						{{ form.as_p }}
						<!-- Hidden input for parent comment.id -->
						<input type="hidden" name="parent_id" value="{{ comment.id }}">
						<input class="btn btn-primary" type="submit" value="Replay">
					</form>

					{% for replay in comment.replies.all %}
						<div class="replay" style="background-color: powderblue">
						<p class="info">{{ replay.name }} | {{ replay.created }}</p>
						<li>{{ replay.text }}</li>
						</div>
					{% endfor %}
    </div>
{% empty %}
<h4>There are no comments yet.</h4>
{% endfor %}
{% endblock %}